.cont {
  position: relative;
}

.banner {
  background: url("banner.jpg") fixed no-repeat center;
  background-size: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner2 {
  background: url("banner5.jpg") fixed no-repeat center;
  background-size: cover;
  height: 100vh;
  display: flex;
}

.banner-content2 {
  padding: 5%;
}

.banner-content2 h1 {
  font-size: 60px;
}

.banner3 {
  background: url("banner4.jpg") fixed no-repeat center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.banner-content2 {
  margin-top: 50px;
}
