.personal-card {
  float: left;
  margin-top: 30px;
  width: 100%;
  height: 0;
  padding-bottom: 80%;
  flex: 0 1 auto;
  position: relative;
  font-size: .8em;
  // border: 1px solid white;

  -webkit-perspective: 600px;
          perspective: 600px;
}
/* -- make sure to declare a default for every property that you want animated -- */
/* -- general styles, including Y axis rotation -- */
.personal-card .front {
  float: none;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 900;
  width: inherit;
  height: inherit;
  background: #010101;

  -webkit-transform: rotateX(0) rotateY(0);
          transform: rotateX(0) rotateY(0);

  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;

  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;

  /* -- transition is the magic sauce for animation -- */
  -webkit-transition: all .9s ease-in-out;
          transition: all .9s ease-in-out;
}

.angle-down {
  color: #FDFDFD;
  text-decoration: none;
}

.angle-down:link {
  color: #FDFDFD;
  text-decoration: none;
}

.angle-down:visited {
  color: #FDFDFD;
  text-decoration: none;
}

.angle-down:hover {
  color: #FDFDFD;
  text-decoration: none;
}

.angle-down:active {
  color: #FDFDFD;
  text-decoration: none;
}

.front .pad {
  text-align: center;
  color: #FDFDFD;
  margin-top: 25%;
}

.back .pad {
  color: #FDFDFD;
  margin-top: 20%;
  margin-left: 15%;
}

.front .pad h1 {
  font-size: 500%;
  font-family: "Helvetica", sans-serif;
}

.back .pad h1 {
  font-size: 500%;
  font-family: "Roboto", sans-serif;
}

.back .pad h3 {
  font-size: 250%;
  font-family: "Roboto", sans-serif;
}

.back .pad h4 {
  font-size: 170%;
  font-family: "Roboto", sans-serif;
  margin-top: 35%;
  margin-left: 13%;
}

.back .pad h5 {
  margin-left: 40%;
}

.back .pad p {
  font-size: 150%;
  font-family: "Roboto", sans-serif;
}

.personal-card.flip .front {
  z-index: 900;
  border-color: #010101;
  background: #010101;

  -webkit-transform: rotateY(179deg);
          transform: rotateY(179deg);
}

.personal-card .back {
  float: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 800;
  width: inherit;
  height: inherit;
  background: #010101;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.6);

  -webkit-transform: rotateY(-179deg);
          transform: rotateY(-179deg);

  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;

  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;

  /* -- transition is the magic sauce for animation -- */
  -webkit-transition: all .9s ease-in-out;
          transition: all .9s ease-in-out;
}

.personal-card.flip .back {
  z-index: 1000;
  background: #010101;

  -webkit-transform: rotateX(0) rotateY(0);
          transform: rotateX(0) rotateY(0);

}

.personal-card.flip .action {display: none; }
