/* Main navbar */
.navbar-personal {
  position: fixed;
  background-color: transparent;
  color: #da552f;
  transition: all 0.3s ease;
  height: 70px;
  width: 100%;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-personal a {
  color: white;
}

/* Logo */
.navbar-personal-brand div {
  color: white;
}

/* User Avatar */
.navbar-personal .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-personal-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-personal-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-personal-link {
  color: white;
  font-size: 14px;
}
.navbar-personal-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-personal-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-personal-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-personal-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-personal-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: #010101;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
